<div class="customer-one js-customer-one">
    <h1>{{.StrCustomer}} {{.FirstName}} {{.LastName}}</h1>
    <p><a href="javascript:history.back()">{{.StrBackToCustomers}}</a></p>

    <div class="info">
        <div class="labels">
            <p>{{.StrFname}}:</p>
            <p>{{.StrLname}}:</p>
            <p>{{.StrEmail}}:</p>
            <p>{{.StrBirthDate}}:</p>
            <p>{{.StrGender}}:</p>
            <p>{{.StrAddress}}:</p>
        </div>
        <div class="values">
            <p>{{.FirstName}}</p>
            <p>{{.LastName}}</p>
            <p>{{.Email}}</p>
            <p>{{.BirthDate}}</p>
            <p>{{.Gender}}</p>
            <p>{{.Address}}</p>
        </div>
    </div>

    <p><a href="javascript:history.back()">{{.StrBackToCustomers}}</a></p>
</div>
